<!DOCTYPE html>
<html>
<head>
  <title>UploaderApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
  <header class="navbar navbar-inverse">
    <div class="navbar-inner">
      <h1>amazon s3 fileUploader<small> @sputnik_43</small></h1>
    </div>
  </header>
<body>
  <% flash.each do |key, value| %>
  <%= value %>
  <% end %>
  <%= yield %>
</body>
</div>
</html>
